@use '../fonts';
@import '../base';

.chats-page{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .chats-left-panel{
        width: 30%;
        max-width: 310px;
        display: flex;
        flex-direction: column;
        background-color: #FBFBFB;
        border-right: 1px solid #eaeaea;

        .top-bar{
            display: flex;

            .plus-btn{
                margin-left: 10px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
        
        .new-chat-name{
            width: 100%;
            flex-direction: column;
            align-items: center;
            display: none;

            input{
                outline: none;
            }

            .new-chat-name-submit{
                margin-top: 10px;
                color: $accent-color;
                border: 1px solid $accent-color;
                width: 100%;
                padding: 7px 0;
                border-radius: 5px;

                &:hover{
                    cursor: pointer;
                    color: $nonactive-input;
                    background-color: $accent-color;
                }
            }
        }

        .profile-btn{
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: #999999;
            width: 66px;
            height: 12px;
            margin-left: auto;

            &:hover{
                cursor: pointer;
            }
        }
        .search{
            margin: 12px 0px 0;
            border: none;
            text-align: center;
            height: 32px;
            background: #EFEFEF;
            border-radius: 5px;
            color: #999999;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            width: 100%;
        }

        .chats-list{
            display: flex;
            flex-direction: column;

            .chats-item{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                padding-top: 12px;
                margin-top: 14px;
                
                &:hover{
                    cursor: pointer;
                }
                .delete-chat-btn{

                    &:hover{
                        cursor: pointer;
                    }
                }
                ::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #EAEAEA;
                    top: 0;
                    left: 0;
                }

                .image-placeholder{
                    width: 47px;
                    height: 47px;
                    border-radius: 50%;
                    background-color: #efefef;
                }

                .chat-info{
                    width: 150px;
                    margin: 0 15px 0 10px;
                    display: flex;
                    flex-direction: column;

                    .chat-info-name{
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 13px;
                        color: #1E1E1E;
                        margin-bottom: 4px;
                    }
                    .chat-info-last-msg{
                        font-size: 12px;
                        line-height: 15px;
                        color: #999999;
                    }
                }

                .chat-notifications{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .chat-last-date{
                        font-weight: 500;
                        font-size: 9px;
                        line-height: 13px;
                        color: #999999;
                    }

                    .chat-new-msg{
                        border-radius: 50%;
                        background-color: #3369F3;
                        width: 20px;
                        height: 20px;
                        color: $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
            }

        }
    }
    .chats-conversation{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding: 5px;

        .users-in-chat{
            display: flex;
            flex-direction: row;
            align-items:flex-start;
            margin-top: 20px;
            width: 400px; 
            
            position: relative;
            ::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: #EAEAEA;
                bottom: -10px;
                left: 0;
            }

            .chat-user{
                margin-left: 15px;
                background-color: $nonactive-input;
                padding: 5px 7px;
                border-radius: 5px;
                color: #6a6969;
                display: flex;
                flex-direction: row;
                align-items: center;

                button{
                    margin-left: 10px;
                    font-size: 15px;
                    color: $accent-color;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

        }
        .chats-conversation-top{
            width: 100%;
            position: relative;

            .settings-modal{
                position: absolute;
                bottom: -40px;
                right: 0;
                width: 300px;
                justify-content: space-between;
                display: none;
                z-index: 20;

                input{
                    width: 230px;
                }
            }

            .top-chats-item{
                width: 100%;
                display: flex;
                flex-direction: row;
                position: relative;
                align-items: center;
                
                &:hover{
                    cursor: pointer;
                }
                

                .chat-settings{
                    font-size: 20px;
                    margin-left: auto;
                    margin-right: 30px;

                    &:hover{
                        cursor: pointer;
                    }
                }
                ::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #EAEAEA;
                    bottom: -10px;
                    left: 0;
                }

                .image-placeholder{
                    width: 47px;
                    height: 47px;
                    border-radius: 50%;
                    background-color: #efefef;
                }

                .chat-info{
                    width: 150px;
                    height: 100%;
                    margin: 0 15px 0 10px;
                    display: flex;
                    flex-direction: column;

                    .chat-info-name{
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 13px;
                        color: #1E1E1E;
                    }
                    .chat-info-last-msg{
                        font-size: 12px;
                        line-height: 15px;
                        color: #999999;
                    }
                }

                .chat-notifications{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .chat-last-date{
                        font-weight: 500;
                        font-size: 9px;
                        line-height: 13px;
                        color: #999999;
                    }

                    .chat-new-msg{
                        border-radius: 50%;
                        background-color: #3369F3;
                        width: 20px;
                        height: 20px;
                        color: $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
            }
        }

        .no-chat-selected{
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #999999;
        }
    }
    .chats-left-panel, .chats-conversation{
        padding: 20px 10px 0;
    }
    .d-flex{
        display: flex !important;
    }
}